  <div class="container">

    <header class="jumbotron my-4">

      <div ng-repeat="atributo in logoMarca">

          <img ng-src="{{atributo.imagemUrl}}" alt="Logomarca da OPEN GAME" title="Logomarca da OPEN GAME">

      </div>
      

      <h1 class="display-3">OPEN GAME - Impressões 3D</h1>
      <p class="lead">Faça agora mesmo seu cadastro e fique por dentro de promoções e dicas exclusivas!
<strong>CADASTRE-SE GRÁTIS na OPEN GAME!</strong> Receba em primeira mão ofertas incríveis e dicas feitas especialmente pra te ajudar a conhecer o mundo 3D.</p><br><p class="lead">Veja como é fácil fazer o seu cadastro. Basta você digitar seu e-mail, sua senha e clicar em cadastrar. A partir do momento que você estiver cadastrado, aí sim você poderá fazer pedidos na OPEN GAME!</p>
    </header>

     <main class="my-form">
        <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">CADASTRO</div>
                        <div class="card-body">
                            <form name="my-form" ng-submit="cadastrar()" action="#" method="">

                                    <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail:</label>
                                        <div class="col-md-6">
                                            <input type="email" id="email" class="form-control" name="email" ng-model="email">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="user_name" class="col-md-4 col-form-label text-md-right">Senha:</label>
                                        <div class="col-md-6">
                                            <input type="password" id="senha" class="form-control" name="senha" ng-model="senha">
                                        </div>
                                    </div>

                                        <div class="col-md-6 offset-md-4">
                                            <button type="submit" id="idSubmit" class="btn btn-primary">
                                            Cadastrar
                                            </button>
                                        </div>
                                </form>
                            </div>                       
                        </div>
                    </div>
                </div>
            </div> 
        </main>                           
    </div>      
       
   
 





 