<div>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#!/">OPEN GAME</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#!/">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/cadastro">Cadastro</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/pedido">Faça Seu Pedido</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!/empresa">Empresa</a> 
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">

      <!-- <div ng-repeat="atributo in logoMarca">

          <img ng-src="{{atributo.imagemUrl}}" alt="Logomarca da OPEN GAME" title="Logomarca da OPEN GAME">

      </div> -->
      

      <!-- <h1 class="display-3">OPEN GAME - Impressões 3D</h1> -->
      <p class="lead">Tudo começou em 2017 quando nosso fundador, Guilherme Meyrelles, investiu o dinheiro ganho no poker em Las Vegas para comprar uma impressora 3D. Com essa tecnologia fantastica suas criações no pait e paint 3D criaram forma e trouxeram muita alegria. Porém não basta se divertir sozinhos. Pois quando temos algo muito bom, precisamos dividir com todos. E então surgiu a ideia da Open Game. Mas para ir longe, precisamos de amigos. Nesse momento surgiram pessoas de confiança e talentosas. Depois de uma longa busca, o confiavel Fabrício Tarden, consultor de longa data, foi convidado para ser socio. Posteriormente, Gabriel Pires também se juntou a equipe. Com esse trio formado, com união e abilidades complementares a Open Game criou forma e virou uma realidade. Agora muitos podem ter seus sonhos materializados e dar vida a sua imaginação. </p>

      <br> 

      <p class="lead">Essa é nossa missão, este é nosso propósito, Isso é a OPEN GAME!</p>

    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in socioUm">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Foto do desenvolvedor Fabrício Tarden" title="Fabrício Tarden">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
           <a href="https://www.linkedin.com/in/fabriciotarden/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in socioDois">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Foto do SCRUM Master Gabriel Guimarães" title="Gabriel Guimarães">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
           <a href="https://www.linkedin.com/in/gabriel-guimar%C3%A3es-b95329123/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in socioTres">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Foto do designer Guilherme Meyrelles" title="Guilherme Meyrelles">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
             <a href="https://www.linkedin.com/in/guilherme-figueira-meyrelles-82ab32114/" target="_blank" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

     
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->