<div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">

      <div ng-repeat="atributo in logoMarca">

          <img ng-src="{{atributo.imagemUrl}}" alt="Logomarca da OPEN GAME" title="Logomarca da OPEN GAME">

      </div>
      

      <h1 class="display-3">OPEN GAME - Impressões 3D</h1>
      <p class="lead">Na OPEN GAME nós imprimimos modelos 3D de até 50 cm². <strong>Cadastre-se e faça seu pedido!</strong><br><br>Cada impressão 3D sai por apenas R$ 20,00! Informe a ideia que veio a sua mente, não perca esta oportunidade!
      Iremos criar um modelo 3D e transformá-lo em um objeto físico. Sua ideia está em um click de ser materializada.</p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in impressoesExemploUm">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Imagem de uma Estrela Ninja em 3D" title="Estrela Ninja em 3D">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
            <a href="#!/empresa" class="btn btn-primary">Saiba Mais!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in impressoesExemploDois">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Imagens de Capas de Celulares em 3D" title="Capas de Celulares em 3D">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
            <a href="#!/empresa" class="btn btn-primary">Saiba Mais!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in impressoesExemploTres">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Imagem de uma Caneca em 3D" title="Caneca em 3D">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
            <a href="#!/empresa" class="btn btn-primary">Saiba Mais!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4" ng-repeat="atributo in impressoesExemploQuatro">
        <div class="card h-100">
          <img class="card-img-top" ng-src="{{atributo.imagemUrl}}" alt="Imagem de diversos tipos de Dados em 3D" title="Dados Diversos em 3D">
          <div class="card-body">
            <h4 class="card-title">{{atributo.nome}}</h4>
            <p class="card-text">{{atributo.descricao}}</p>
          </div>
          <div class="card-footer">
            <a href="#!/empresa" class="btn btn-primary">Saiba Mais!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->