
<div class="limiter">

		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(images/bg-01.png);">
					<span class="login100-form-title-1">
						Entre
					</span>
				</div>

				<form class="login100-form validate-form">
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">E-mail</span>
						<input class="input100" type="text" name="email" ng-model="email">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Senha</span>
						<input class="input100" type="password" name="senha" ng-model="senha">
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" href="#!/pedido" ng-click="login()">
							Login
						</button>
					</div>

					<br>
					<br>
					
					<div style="color:red">
  					<strong>{{ mensagem }}</strong>
					</div>
					<div style="color:red">
  					<strong>{{ erroMensagem }}</strong>
					</div>

				</form>

			</div>
		</div>

</div>
