  <div>

  <div class="container">
  
    <header class="jumbotron my-4">

      <div ng-repeat="atributo in logoMarca">

          <img ng-src="{{atributo.imagemUrl}}" alt="Logomarca da OPEN GAME" title="Logomarca da OPEN GAME">

      </div>
      
      <h1 class="display-3">OPEN GAME - Impressões 3D</h1>
      <p class="lead"><p>Obs. Só aceitamos por enquanto <strong>cartão de crédito e pagamento via Internet</strong>.</p><br>
      <p class="lead"><p>Qualquer dúvida ou questionamento, entre em contato conosco:</p><br>

      <p><strong>Telefone</strong>: (21) 2145-2478;</p>
      <p><strong>Celular</strong>: (21) 97854-7537;</p>
      <p><strong>E-mail</strong>: opengameimpressoes3d@projetodebloco.infnet.edu.br;</p>
      <p><strong>Endereço</strong>: Rua chefia de bloco, n° 2019.</p>
    </header>

    <hgroup>

    <br>
    <br>

        <h2 class="text-center"><img src="https://img.icons8.com/color/96/000000/money-bag.png">Faça seu pagamento!<img src="https://img.icons8.com/color/96/000000/money-bag.png"></h2>

<br>
<br>
    </hgroup>

    <br>

    <main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">PAGAMENTO</div>
                        <div class="card-body">
                           <form ng-submit="aprovarPagamento()" method="post">
                        <div id="payment" class="form-group">
                            <p class="text-muted">Nome no cartão:</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Exemplo: JOSE L NETO BRAGANÇA" required minlength="4" required>
                            </div>
                             <p class="text-muted">Número:</p>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="XXXX XXXX XXXX XXXX" pattern="\d{16}" required minlength="16" maxlength="16" required>
                            </div>
                            
                                 <p class="text-muted">Mês:</p>
                                 <div class="form-group">
                                <input type="text" class="form-control" placeholder="MM" pattern="0[1-9]|1[0-2]" required minlength="2" maxlength="2" required>
                            </div>
                        
                                 <p class="text-muted">Ano:</p>
                                     <div class="form-group">
                                <input type="text" class="form-control" placeholder="YYYY" pattern="20[0-9]{2}" required minlength="4" maxlength="4" required>
                            </div>
                          
                                <p class="text-muted">Código de segurança:</p>
                                   <div class="form-group">
                                <input type="text" class="form-control" placeholder="CVV" pattern="\d{3}" minlength="3" maxlength="3" required>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success">Pagar</button>
                                  
                        </div>
                    </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

  </div>
  

</div>
