
  <div>
  <!-- Navigation -->
  
  <!-- Page Content -->
  <div class="container">

    
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">

      <div ng-repeat="atributo in logoMarca">

          <img ng-src="{{atributo.imagemUrl}}" alt="Logomarca da OPEN GAME" title="Logomarca da OPEN GAME">

      </div>
      

      <h1 class="display-3">OPEN GAME - Impressões 3D</h1>
      <p class="lead"><p><strong></strong> </p>
    </header>

    <!-- Page Features -->
  

     <main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">PEDIDO</div>
                        <div class="card-body">
                            <form name="my-form" ng-submit="enviar()" method="post">
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Nome:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="full_name" class="form-control" name="full-name" ng-model="nome">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Sobrenome:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="full_name" class="form-control" name="full-name" ng-model="sobrenome">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="email_address" class="form-control" name="email-address" ng-model="email">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Telefone:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="phone_number" class="form-control" ng-model="telefone">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">CEP:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" ng-model="cep">
                                    </div>
                                </div>

                                 <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Cidade:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" ng-model="cidade">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Rua:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" ng-model="rua">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Complemento:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="present_address" class="form-control" placeholder="Número da casa, apartamento e etc." ng-model="complemento">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1"></label>
                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Descreva a cor, largura x altura x profundidade em centímetros e a forma do objeto. (Ex: Branco, 10 x 17 x 5, Mão Humana)" ng-model="observacoes"></textarea>
                                </div>

                                <div class="form-group">
                                  <label for="exampleFormControlFile1">Imagem de Referência</label>
                                  <input ngf-select="selectFile($file)" accept="image/*" type="file" class="form-control-file" id="exampleFormControlFile1" ng-model="data.foto">
                                </div>

                                <div class="col-md-2">
                                    
                                    <img ngf-thumbnail="data.foto" width="100%">

                                </div>
                                <br>

                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="uploadBar">{{ porcentagem }}% Completado</div>
                                </div>
                                <br>

                                <div class="col-md-6 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                    Efetuar Pedido
                                    </button>
                                </div>
                                    
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>

</main>

  </div>
  

</div>
